<mat-card>
    <mat-card-header>
        <mat-card-title>O`quvchi</mat-card-title>
        <mat-card-subtitle>O`quvchi ma`lumoti bilan ishlash bo`limi</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header>O`quvchi qo`shish</mat-expansion-panel-header>
                <div>
                    <form [formGroup]="oquvchiForm" (ngSubmit)="save()">
                        <p>
                            <mat-form-field *ngIf="tahrirRejim" appearance="outline">
                                <mat-label>ID</mat-label>
                                <input matInput formControlName="id" readonly>

                                <mat-hint>O`quvchi id</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Ism</mat-label>
                                <input matInput formControlName="ism">

                                <mat-hint>O`quvchining ismi</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Familiya</mat-label>
                                <input matInput formControlName="familiya">

                                <mat-hint>O`quvchining familiyasi</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Telefon nomer</mat-label>
                                <span matPrefix style="display: inline-block; padding-bottom: 10px;">+998 &nbsp;</span>
                                <input type="number" matInput formControlName="telNomer" >

                                <mat-hint>O`quvchining telefon nomeri</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Kelgan kuni</mat-label>
                                <input formControlName='kelganKuni' matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Kelishilgan summa</mat-label>
                                <input type="number" matInput formControlName="kelishilganSumma">

                                <mat-hint>Kursning oylik kelishilgan puli</mat-hint>
                            </mat-form-field>

                            <!-- davomat booleanni tugirlash kerak -->
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Dars vaqti</mat-label>


                                <mat-hint>oquvchining dars vaqti</mat-hint>
                            </mat-form-field> -->



                            <!-- <mat-form-field appearance="outline">
                                <mat-label>Jinsni tanlang</mat-label>
                                <mat-select formControlName="jins">
                                  <mat-option value="Erkak">Erkak</mat-option>
                                  <mat-option value="Ayol">Ayol</mat-option>
                                </mat-select>
                              </mat-form-field> 
                              <br>-->

                                  <mat-radio-group aria-label="Jinsni tanlang" formControlName="jins">
                                <mat-radio-button color="primary" value="Erkak">Erkak</mat-radio-button>
                                <mat-radio-button color="warn" value="Ayol">Ayol</mat-radio-button>
                              </mat-radio-group>
                              






                            <mat-form-field appearance="outline">
                                <mat-label>Guruh</mat-label>
                                <mat-select formControlName="guruh" placeholder="Guruhni tanlang">
                                    <mat-option [value]="guruh.id" *ngFor="let guruh of guruhlar">
                                        {{guruh.nom}}
                                    </mat-option>
                                </mat-select>

                                <mat-hint>O`quvchiga ma`sul o`qituvchini tanlang</mat-hint>
                            </mat-form-field>




                            <mat-form-field appearance="outline">
                                <mat-label>INFO</mat-label>
                                <textarea matInput formControlName="info"></textarea>

                                <mat-hint>O`qituvchi info</mat-hint>
                            </mat-form-field>

                        </p>
                        <h2 style="background-color: red;color: white;text-align: center;font-family: monospace;padding: 10px 0;" *ngIf="xatolik">Guruhni qaytadan tanlash shart! </h2>
                        <mat-action-row>
                            <button mat-raised-button color="primary" type="submit">
                                <mat-icon class="mat-18">add</mat-icon>
                                Saqlash
                                <mat-spinner *ngIf="isLoading" style="float: right; top: 8px;left: 5px;" diameter="20">
                                </mat-spinner>

                            </button>
                            <button type="button" style="margin-left: 10px;" mat-raised-button color="accent"
                                (click)="tozalash()" >
                                <mat-icon class="mat-18">cancel</mat-icon>
                                Bekor qilish
                            </button>
                        </mat-action-row><br>



                    </form>
                </div> <br>

            </mat-expansion-panel>
        </mat-accordion>


        <mat-form-field class="search" appearance="fill">
            <mat-label>
                <mat-icon class="mat-18">search</mat-icon>
                Search
            </mat-label>
            <input #inp matInput (input)="loadAll(inp.value)">

            <mat-hint>O`quvchi qidiruv</mat-hint>
        </mat-form-field>

        <div class="table-container">
            <div class="loading" *ngIf="isLoadingResult">
                <!-- <mat-spinner diameter="80"></mat-spinner> -->

                <!-- <div class="barcha">
                    <div class="anima"></div>
                    <div class="anima2"></div>
                    <div class="anima3"></div>
                  </div> -->
                  <div class="container">
                    <div class="ring"></div>
                    <div class="ring"></div>
                    <div class="ring"></div>
                  </div>
            </div>

            <table mat-table [dataSource]="oquvchilar" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="ism">
                    <th mat-header-cell *matHeaderCellDef> Ism </th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.ism}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="familiya">
                    <th mat-header-cell *matHeaderCellDef> Familiya </th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.familiya}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="telNomer">
                    <th mat-header-cell *matHeaderCellDef> Telefon nomer</th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.telNomer}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="kelganKuni">
                    <th mat-header-cell *matHeaderCellDef> Kelgan kuni</th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.kelganKuni}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="kelishilganSumma">
                    <th mat-header-cell *matHeaderCellDef> Kelishilgan summa</th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.kelishilganSumma}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="jins">
                    <th mat-header-cell *matHeaderCellDef> Jins</th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.jins}} </td>
                </ng-container>


                <!-- Symbol Column -->
                <ng-container matColumnDef="guruh">
                    <th mat-header-cell *matHeaderCellDef> Guruh </th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.guruh?.nom}}</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef> Info </th>
                    <td mat-cell *matCellDef="let oquvchi"> {{oquvchi.info}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="tulov">
                    <th mat-header-cell *matHeaderCellDef> Tulov </th>
                    <td mat-cell *matCellDef="let oquvchi">

                        <button  [class.tasdiqlandi]="oquvchi.tasdiq"  mat-raised-button type="submit" (click)="tasdiqlash(oquvchi)" >
                                {{ !oquvchi.tasdiq ? 'Tasdiqlash' : 'Tasdiqlangan' }}

                        </button>
                        <button *ngIf="oquvchi.tulovqil" mat-raised-button color="accent" >Tulov qilish kerak</button>
                         </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="amal">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let oquvchi">
                        <button mat-mini-fab color="primary" style="margin: 5px;" (click)="tahrir(oquvchi)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="ochirish(oquvchi.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns:DisplayedColumns;"></tr>
            </table>

        </div>

        <mat-paginator [length]="totalElements" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" aria-label="Select page"></mat-paginator>



    </mat-card-content>
</mat-card>
