<div class="container">
    <div class="header">
        <div class="avatar">
            <img src="./../../../assets/avatar.jpg" alt="" width="50px" height="50px">
            <h2>Admin</h2>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="urta">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Login</mat-label>

              <input type="login" matInput placeholder="* * * * * * *">
              <mat-icon matSuffix>login</mat-icon>
            </mat-form-field>
          </form>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Parol</mat-label>
              <mat-icon matSuffix>lock</mat-icon>
              <input type="password" matInput placeholder="* * * * * * *">

            </mat-form-field>
          </form>


    </div>
  <mat-divider></mat-divider>
  <br>
  <button mat-raised-button color="primary" style="float: right; margin-right: 50px" type="submit">
    <mat-icon>check - box</mat-icon>
    Keyingi</button>

</div>
