<div class="container">
  <div class="header">
    <div class="avatar">
      <img src="./../../../assets/avatar.jpg" alt="" width="50px" height="50px">
      <h2>Admin</h2>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="urta">
    <form [formGroup]="signinForm" (submit)="login()"class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Login</mat-label>

        <input type="login" formControlName="username"  matInput placeholder="* * * * * * *">
        <mat-icon matSuffix>login</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Parol</mat-label>
        <mat-icon matSuffix (click)="veiwPass(pass)">lock</mat-icon>
        <input #pass formControlName="password" autocomplete="on" type="password" matInput placeholder="* * * * * * *">

      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" style="float: right; margin-right: 50px" type="submit">
        <mat-icon>check - box</mat-icon>
        Keyingi
      </button>
    </form>


  </div>
  <mat-divider></mat-divider>

</div>