<mat-card>
    <mat-card-header>
        <mat-card-title>Guruh</mat-card-title>
        <mat-card-subtitle>Guruh ma`lumoti bilan ishlash bo`limi</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header>Guruh qo`shish</mat-expansion-panel-header>
                <div>
                    <form [formGroup]="guruhForm" (ngSubmit)="save()">
                        <p>
                            <mat-form-field *ngIf="tahrirRejim" appearance="outline">
                                <mat-label>ID</mat-label>
                                <input matInput formControlName="id" readonly>

                                <mat-hint>Guruh id</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="nom">

                                <mat-hint>Guruhning nomi</mat-hint>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Dars vaqti</mat-label>
                                <input matInput formControlName="darsVaqti">
                                <mat-hint>Guruhning dars vaqti</mat-hint>
                            </mat-form-field>


                          <mat-form-field appearance="outline">
                            <mat-label>Guruh ochilgan sanasi</mat-label>
                            <input formControlName='sana' matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>

                            

                               


                            <mat-form-field appearance="outline">
                                <mat-label>O`qituvchi</mat-label>
                                <mat-select formControlName="oqituvchi" placeholder="O`qituvchini tanlang">
                                    <mat-option [value]="oqituvchi.id" *ngFor="let oqituvchi of oqituvchilar">
                                        {{oqituvchi.ism}}
                                        {{oqituvchi.familiya}}
                                    </mat-option>
                                </mat-select>

                                <mat-hint>Guruhga ma`sul o`qituvchini tanlang</mat-hint>
                            </mat-form-field>




                            <mat-form-field appearance="outline">
                                <mat-label>INFO</mat-label>
                                <textarea matInput formControlName="info"></textarea>

                                <mat-hint>O`qituvchi info</mat-hint>
                            </mat-form-field>
                            
                        </p>
                        <h2 style="background-color: red;color: white;text-align: center;font-family: monospace;padding: 10px 0;" *ngIf="xatolik">Ma'sul o`qituvchini qaytadan tanlash shart! </h2>
                        <mat-action-row>
                            <button mat-raised-button color="primary" type="submit" [disabled]="guruhForm.invalid || isLoading">
                                <mat-icon class="mat-18">add</mat-icon>
                                Saqlash
                                <mat-spinner *ngIf="isLoading" style="float: right; top: 8px;left: 5px;" diameter="20">
                                </mat-spinner>

                            </button>
                            <button type="button" style="margin-left: 10px;" mat-raised-button color="accent"
                                (click)="tozalash()" >
                                <mat-icon class="mat-18">cancel</mat-icon>
                                Bekor qilish
                            </button>
                        </mat-action-row><br>
                        


                    </form>
                </div> <br>

            </mat-expansion-panel>
        </mat-accordion>


        <mat-form-field class="search" appearance="fill">
            <mat-label>
                <mat-icon class="mat-18">search</mat-icon>
                Search
            </mat-label>
            <input #inp matInput (input)="loadAll(inp.value)">

            <mat-hint>Guruh qidiruv</mat-hint>
        </mat-form-field>
 
        <div class="table-container">
            <div class="loading" *ngIf="isLoadingResult">
                <!-- <mat-spinner diameter="50"></mat-spinner> -->
                <!-- <div class="barcha">
                    <div class="anima"></div>
                    <div class="anima2"></div>
                    <div class="anima3"></div>
                  </div> -->
                  <!-- <div class="container">
                    <div class="ring"></div>
                    <div class="ring"></div>
                    <div class="ring"></div>
                  </div> -->
                  <div class="loadingio-spinner-dual-ball-oileugss5i">
                    <div class="ldio-o3cexz7fvmj">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>

            <table mat-table [dataSource]="guruhlar" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef> nom </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.nom}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="darsVaqti">
                    <th mat-header-cell *matHeaderCellDef> Dars vaqti </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.darsVaqti}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="sana">
                    <th mat-header-cell *matHeaderCellDef> Sana </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.sana}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="oqituvchi">
                    <th mat-header-cell *matHeaderCellDef> O`qituvchi </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.oqituvchi?.ism}} {{guruh.oqituvchi?.familiya}}</td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="oquvchiSon">
                    <th mat-header-cell *matHeaderCellDef>O`quvchilari soni </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.oquvchiSon}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="info">
                    <th mat-header-cell *matHeaderCellDef> Info </th>
                    <td mat-cell *matCellDef="let guruh"> {{guruh.info}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="amal">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let guruh">
                        <button mat-mini-fab color="primary" style="margin: 5px;" (click)="tahrir(guruh)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" (click)="ochirish(guruh.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns:DisplayedColumns;"></tr>
            </table>

        </div>

        <mat-paginator [length]="totalElements" [pageSizeOptions]="[10, 20, 50]" [pageSize]="10"></mat-paginator>



    </mat-card-content>
</mat-card>